---
http_interactions:
- request:
    method: get
    uri: https://deckofcardsapi.com/api/deck/new/shuffle/?deck_count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"deck_id": "0zm46qa3w0pl", "remaining": 52, "success": true, "shuffled":
        true}'
  recorded_at: Thu, 23 May 2019 02:21:17 GMT
- request:
    method: get
    uri: https://deckofcardsapi.com/api/deck/0zm46qa3w0pl/draw/?count=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"deck_id": "0zm46qa3w0pl", "cards": [{"value": "ACE", "suit": "HEARTS",
        "code": "AH", "image": "https://deckofcardsapi.com/static/img/AH.png", "images":
        {"svg": "https://deckofcardsapi.com/static/img/AH.svg", "png": "https://deckofcardsapi.com/static/img/AH.png"}},
        {"value": "2", "suit": "SPADES", "code": "2S", "image": "https://deckofcardsapi.com/static/img/2S.png",
        "images": {"svg": "https://deckofcardsapi.com/static/img/2S.svg", "png": "https://deckofcardsapi.com/static/img/2S.png"}},
        {"value": "4", "suit": "DIAMONDS", "code": "4D", "image": "https://deckofcardsapi.com/static/img/4D.png",
        "images": {"svg": "https://deckofcardsapi.com/static/img/4D.svg", "png": "https://deckofcardsapi.com/static/img/4D.png"}},
        {"value": "10", "suit": "DIAMONDS", "code": "0D", "image": "https://deckofcardsapi.com/static/img/0D.png",
        "images": {"svg": "https://deckofcardsapi.com/static/img/0D.svg", "png": "https://deckofcardsapi.com/static/img/0D.png"}},
        {"value": "7", "suit": "DIAMONDS", "code": "7D", "image": "https://deckofcardsapi.com/static/img/7D.png",
        "images": {"svg": "https://deckofcardsapi.com/static/img/7D.svg", "png": "https://deckofcardsapi.com/static/img/7D.png"}}],
        "remaining": 47, "success": true}'
  recorded_at: Thu, 23 May 2019 02:21:17 GMT
recorded_with: VCR 4.0.0
