<style>

.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  list-style: none;
  padding-top: 20px;
  }
  ul#horizontal-list li {
    display: inline;
  }
</style>

<div id="#hand">
  <div class="table">
    <ul id="horizontal-list">
      <% @cards.each do |card| %>
      <li>
        <img src=<%= card.image %> width='140px'></img>
        <span style="margin-top: 20px"><%= card.name %></span>
      </li>
      <% end %>
    </ul>
  </div>
</div>
